/* COMMON */
.container {
  margin: 100px auto;
}

.grey {
  background-color: #f9f9f9;
}

.centered-text {
  text-align: center;
}
/* end COMMON */

#lezioni .container > .first,
#lezioni .container > .second,
#steps .container > .first,
#steps .container > .second,
#steps .container > .third,
#why .container > .first,
#why .container > .second,
#why .container > .third {
  margin-top: 40px;
}

#lezioni .container img,
#steps .container img,
#why .container img {
  height: 200px;
}

#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

#lezioni .container > h2,
#steps .container > h2,
#why .container > h2 {
  font-size: 2em;
}

#lezioni .container > .first h3,
#lezioni .container > .second h3,
#steps .container > .first h3,
#steps .container > .second h3,
#steps .container > .third h3,
#why .container > .first h3,
#why .container > .second h3,
#why .container > .third h3 {
  margin: 10px 0;
}

#why .container hr {
  margin-top: 40px;
}

/* Versione Tablet */
@media screen and (max-width: 991px) {
  #lezioni .container > .first,
  #lezioni .container > .second,
  #steps .container > .first,
  #steps .container > .second,
  #steps .container > .third,
  #why .container > .first,
  #why .container > .second,
  #why .container > .third {
    padding: 0 30px;
  }

  #lezioni .container img,
  #steps .container img,
  #why .container img {
    height: 140px;
  }
}
/* end Versione Tablet */

/* Versione Mobile */
@media screen and (max-width: 767px) {
  #lezioni .container img,
  #steps .container img,
  #why .container img {
    height: 90px;
  }

  #why .container img {
    padding: 20px;
  }
}
/* end Versione Mobile */
